/* 

https://codepen.io/guyroutledge/full/nOGbyO

Box Model is content-box
                ^ A content box vai se basear na largura do CONTEÚDO

width: 300px
length: 200px

----------------------------------------------------------------------------------
| MARGIN                                                                         |
|  ---------------------------------------------------------------------------   |
|  | BORDER                                                                  |   |
|  |  ---------------------------------------------------------------------  |   |
|  |  | PADDING                                                           |  |   |
|  |  | ----------------------------------------------------------------  |  |   |
|  |  | |                                                              |  |  |   |
|  |  | |   CONTENT                                                    |  |  |   |
|  |  | |                                                              |  |  |   |
|  |  | |        300x200                                               |  |  |   |
|  |  | |                                                              |  |  |   |
|  |  | |                                                              |  |  |   |
|  |  | |                                                              |  |  |   |
|  |  | ----------------------------------------------------------------  |  |   |
|  |  |                                                                   |  |   |
|  |  ---------------------------------------------------------------------  |   |
|  |                                                                         |   |
|  ---------------------------------------------------------------------------   |
|                                                                                |
----------------------------------------------------------------------------------

O CONTEÚDO da caixa vai ditar todo o resto das medidas



Box Model is a border-box
                        ^ A border box vai se basear na largura DA CAIXA POR COMPLETO

width: 300px
length: 200px

----------------------------------------------------------------------------------
| MARGIN                                                                         |
|  ---------------------------------------------------------------------------   |
|  | BORDER                                                                  |   |
|  |  ---------------------------------------------------------------------  |   |
|  |  | PADDING                                                           |  |   |
|  |  | ----------------------------------------------------------------  |  |   |
|  |  | |                                                              |  |  |   |
|  |  | |   CONTENT                                                    |  |  |   |
|  |  | |                                                              |  |  |   |
|  |  | |                                                              |  |  |   |
|  |  | |                                                              |  |  |   |
|  |  | |                                                              |  |  |   |
|  |  | |                                                              |  |  |   |
|  |  | ----------------------------------------------------------------  |  |   |
|  |  |                                                                   |  |   |
|  |  ---------------------------------------------------------------------  |   |
|  |                                                                         |   |
|  ---------------------------------------------------------------------------   |
|                                                                                |
----------------------------------------------------------------------------------

BOX = 300x200


A principal diferença é q, ao colocar o tamanho da MARGIN, BORDER e PADDING,
na CONTENT BOX, vc vai SOMANDO quanto tem cada tamanho pra dar o tamanho total da caixa

na BORDER BOX vc vai ter o TOTAL já pre-definido e a content vai "perdendo espaço"
de acordo com o tamanho da MARGIN, BORDER e PADDING
*/
